[Unit]
Description=Projektori server

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/projektor/server.py

[Install]
WantedBy=multi-user.target

